<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin-Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Admin-Dashboard</h1>
        <ul>
            {% for username, user in users.items() %}
                <li>{{ username }} - {{ user.email }} - Rolle: {{ user.role }}</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
